body {
    font-weight:none, color:#ccc !important;
    font-family:"8-bitoperator", sans-serif !important;
    background-color:#000;
    color:#bbb;
    font-size:14px;
}

strong, b {
   color:#bb70ba;
}

.tc-sidebar-scrollable {
    font-size:12px;
}

.tc-story-river a:hover {
    color: #ffea00;
}

a.tc-tiddlylink-external:hover {
    color: #3dfb77;
    background-color: inherit;
}

.li-indent, .li-indent a {
    left: 5px !important;
    width: 160px !important;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #2a2a2a;
    color: #bbbbbb;
    -webkit-text-size-adjust: none;
}

.hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp {
    color: #2aa198;
}

.hljs-string {
    color: #de7356;
}
.hljs-number {
   color: #2AA172;
}

