.tc-sidebar-scrollable {
        width: 350px;
	top: 0px;
	left: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 0 28px 20px;
}

<$reveal state="$:/state/sidebar" type="match" text="yes">
@media (max-width: 1050px) {
.tc-sidebar-scrollable { width: 90%; margin: auto; padding:50px 0 28px 20px;; }
.tc-story-river {
     width: 90%;
     margin: auto;
     margin-right:30px;
     left:0px;
}
}

@media (min-width: 1050px) {
.tc-sidebar-scrollable { width: 350px; margin: 0 0 0 10px; }
.tc-story-river { left: 300px; width: calc(100% - 350px); margin-left: 30px; }
}
</$reveal>

<$reveal state="$:/state/sidebar" type="match" text="no">
.tc-story-river {
        margin: auto;
        left: 0px;
        width: 90%;
}
</$reveal>